<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contrasenia</label>
        <input name="password" type="password">
        <a href="/profile"><input type="submit"></a> 

    </form>
    <p>no estas registrado? <a href="/register">Registrate aqui</a></p>
            <p>no estas registrado? <a href="/api/sessions/github">entrar con github</a></p>
        <p>olvidaste tu constrasenia? <a href="/resetPassword">Restaurala aqui</a></p>
</div>
<script src="/js/login.js"></script>